* {
    padding: 0;
    margin: 0;
}
#nav{
    position: relative;
    width:100rem;
    height:4.5rem;
    background-color: rgb(237,244,237);
}
#nav_picture{
    position: relative;
    top:1rem;
    left:16rem;
    height: 2rem;
    width:10rem;
}