
#nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 96rem;
  height: 1.8rem;
  background-color: rgb(84, 86, 82);
  font-size: small;
}
#nav_left {
  display: flex;
  width: 35rem;
  height: 1.8rem;
  justify-content: space-around;
  align-items: center;
}
#nav a {
  color: rgb(213, 213, 213);
  text-decoration: none;
}
#nav a:hover {
  color: white;
}
#nav_right {
  display: flex;
  justify-content: space-around;
  width: 15rem;
  height: 1.8rem;
  align-items: center;
}
#nav_right a {
  height: 1.8rem;
  text-align: center;
  line-height: 1.8rem;
}
#download {
  position: absolute;
  z-index: 1;
  left: 77rem;
  width: 16rem;
  height: 30rem;
  display: none;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
}
#tag {
  position: relative;
  top: 5rem;
  left: 4.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: 1.8rem;
  color: white;
  line-height: 6rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  background-color: rgb(8, 202, 18);
}
#tag_L1 {
  position: relative;
  top: 6rem;
  left: 6.5rem;
  font-size: 1.5rem;
}
#tag_img {
  position: relative;
  top: 8rem;
  left: 3rem;
  width: 10rem;
}
#tag_download {
  position: relative;
  color: rgb(51, 140, 200);
  text-decoration: none;
  font-size: 0.6rem;
  top: 8.6rem;
  left: 5rem;
}
#nav_2 {
  position: relative;
  width: 96rem;
  height: 8rem;
  background-color: rgb(240, 243, 245);
}
#search {
  position: relative;
  width: 44rem;
  left: 12rem;
  top: 0.7rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#search_logo {
  color: rgb(37, 141, 205);
  font-size: 1.8rem;
  font-weight: 600;
}
#search a {
  text-decoration: none;
}
#search_go {
  display: flex;
  width: 32rem;
}
#search_go1 {
  border: none;
  border-radius: 2px;
  width: 32rem;
  height: 2rem;
  box-shadow: 0px 2px rgb(224, 224, 224);
  outline: none;
  padding-left: 1rem;
}
#search_go2 {
  height: 2.1rem;
}
#nav_3 {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 42rem;
  height: 2rem;
  top: 1.8rem;
  left: 12rem;
}
#nav_3 a {
  color: rgb(34, 119, 177);
  text-decoration: none;
  font-size: 0.9rem;
}
#nav_3 a:hover {
  background-color: rgb(34, 119, 170);
  color: white;
  height: 1.5rem;
}
#pic_r {
  position: relative;
  left: 60rem;
  top: -3.4rem;
  width: 11.5rem;
}
#pic_c {
  position: relative;
  top: 2.5rem;
  width: 70rem;
  left: 12.8rem;
}
#content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70rem;
  top: 4.5rem;
  left: 12.8rem;
  height: auto;
}
#left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: auto;
  border: 1px solid black;
}
#right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20.6rem;
  height: auto;
}
.left_box {
  width: 45rem;
  border: 1px solid black;
}
#left_01 {
  height: 22rem;
}
#left_02 {
  height: 33rem;
}
#left_03 {
  height: 33rem;
}
#left_04 {
  height: 21rem;
}
#left_05 {
  height: 10rem;
}
.right_box {
  width: 20.6rem;
}
#right_01 {
  width: 19.6rem;
  height: 3rem;
  background-color: rgb(242, 247, 246);
  border-radius: 0.5rem;
  padding-left: 1rem;
  line-height: 2.5rem;
}
#right_02 {
  height: 30rem;
}
#right_03 {
  height: 10rem;
}
#right_04 {
  height: 8.8rem;
}
#right_05 {
  height: 30rem;
}
#rb2_01 {
  position: relative;
  line-height: 1.2rem;
  left: 2rem;
}
.rb2_02 {
  padding-left: 0.5rem;
  font-size: 0.85rem;
}
.rb2_02 a {
  margin-left: 0.6rem;
}
.email_right {
  font-size: 0.85rem;
  line-height: 1rem;
}
.email_right img {
  width: 8rem;
  margin-left: 1rem;
}
#email01 {
  position: relative;
  top: 0.2rem;
}
#email02 {
  position: relative;
  top: 0.3rem;
  width: 7rem;
}
#email_all {
  margin-top: 1.5rem;
}
#guanzhu {
  margin-top: 1.2rem;
  width: 15rem;
  display: flex;
  justify-content: space-around;
}
#guanzhu img {
  width: 2.5rem;
}
#guanzhu_01 {
  width: 16.8rem;
  display: flex;
  justify-content: space-around;
}
#right_bottom {
  position: relative;
  top: 3.5rem;
  width: 19.5rem;
  left: 0.3rem;
  height: 6rem;
  background-color: rgb(249, 249, 249);
}
#right_bottom img {
  position: relative;
  top: 0.5rem;
  width: 6rem;
  left: 0.5rem;
}
#right_bottom a {
  position: relative;
  left: 7.7rem;
  top: -4rem;
}
#right_bottom a div {
  width: 11rem;
}
#right_bottom > div {
  position: relative;
  left: 7.7rem;
  top: -3.5rem;
}
.left_min_a a {
  margin-left: 1.2rem;
}
.arrowhead {
  width: 1.15rem;
  height: 1.15rem;
  background-color: rgb(109, 152, 210);
  text-align: center;
  border-radius: 100%;
  color: white;
  font-size: 0.9rem;
  line-height: 1rem;
}
.arrowhead:hover {
  cursor: pointer;
}
#arrowhead_1_01 {
  position: absolute;
  left: 41.5rem;
}
#arrowhead_1_02 {
  position: absolute;
  left: 43.5rem;
}
.pro {
  font-size: 0.78rem;
}
.pro span {
  margin: 0 0.3rem 0 0.3rem;
}
#pro01 {
  position: absolute;
  top: 0.8rem;
  left: 36rem;
}
#pro02 {
  position: relative;
  left: 32rem;
  top: 0.1rem;
}
#hot_movie_title .hoverall {
  position: relative;
  margin-left: 0.9rem;
}
#hot_title .hoverall {
  position: relative;
  margin-left: 0.9rem;
}
#left_05 div .hoverall {
  position: relative;
  margin-left: 0.9rem;
}
