*{
    margin: 0;
    padding: 0;
}
.font01 {
    font-size: 0.85rem;
    text-decoration: none;
    color: rgb(102, 102, 153);
}
.font02 {
    font-size: 0.85rem;
    text-decoration: none;
    color: rgb(51, 140, 200);
}
.font03 {
    font-size: 0.85rem;
    text-decoration: none;
    color: rgb(155, 168, 197);
}
.header_font01 {
    font-size: 1rem;
    color: black;
}
.hoverall:hover {
    background-color: rgb(34, 119, 170);
    height: 1.1rem;
    color: white;
}
.box_border {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: row;
    height: 1.9rem;
    line-height: 1rem;
    border-bottom: 1px solid rgb(234, 234, 234);
}
.stars{
    position: absolute;
    top: 50%;
    left:50%;
    width:90px;
    height: 25px;
}
.star {
    display: inline-block;
    width: 65px;
    height: 12px;
    background: url("source/pictures/mix/star.png") no-repeat;
    background-position: 0% 0%;
    background-size: 60px;
}
.star-point {
    display: inline-block;
    font-size: 13px;
    color: rgb(226, 144, 96);
}
